body {
    background: url("http://www.magic4walls.com/wp-content/uploads/2014/01/texture-blue-fonchik-simple-dark-colors-glow-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}
#first_div
{
background-color:white;
}

.REPLACEMENT-PIC
 {
	border: 3px solid #8AC007;
	float:right;
	margin-right: 0.3%;
	margin-left : 0.3%;
	width : 440px;
	height : 30px;
}
a {
color: white;
font-size:20px;

}
#one{
text-align:center;
font-size:60px;
color:white;
}

#logo{
width : 500px;
height : 350px;
margin:0 auto;
}

