<html>
<body>
<div>
<h1>
About Us
</h1>
</div>
<div>
<h3>
The Developers:
</div>
</h3>
<div id = "one">
<p class = "PER"> 
 <img src="" alt="Developers" style="width:300px;height:400px;">  <br>
{{names by order}} <br>
Hila: "You only live once - so think twice." <br>
Bakir: <br>
Amitai:<br>
Tala:<br>
Inbal:<br>
</p>
</div >
<div id = "two">
<p class = "PER">

TypicalFace was created by five meet studants as their final summer project.
We, in TypicalFace have found a reaccuring problem in our everyday life: stereotypes. And so, we created TypicalFace.

</p>
</div id=2>
<div id = "three">
<h3>
The Website:
</h3>
</div>
<div id = "four">
<p class = "PER">
TypicalFace was created to help people be more aware to their use of stereotypes. <br> 
Stereotypes are a natural occuring 
</p>
</div id=4>
</body>
</html>
