<html>
<head>
<title>
TALATEAM/meet-projects
</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='about.css')}}">
<link rel=stylesheet type=text/css href="../static/about.css">
</head>
<body>
<div>
<h1 id = "x">
About Us
</h1>
</div>




<div id = "one">
  <p class = "PER"> 
  <div class = "IMAGE">
    <img src="{{url_for('static', filename='groupPicture.png')}}" alt="Developers" style="width:400px;height:400px;">  
   </div> <br>
  <br>
  😆 Hila: "You only live once - so think twice" <br>
  😒 Bakir: "We are greater than the sum of our parts" <br>
  Amitai: "Education is the key for everything"<br>
 😇 Tala: "Life goes on within you or without you" <br>
 😸 Inbal: "Do not take life too seriosly. You will never get out of it alive"
<br>
  </p>
</div >
<div id = "two">
<h3 id = "x2">
The Developers:
</h3>
<p class = "PER">

TypicalFace was created by five meet studants as their final summer project.
We, in TypicalFace have found a reaccuring problem in our everyday life: stereotypes. And so, we created TypicalFace.

</p>
</div>

<div id = "four">
<h3 id = "x3">
The Website:
</h3>
<p class = "PER">
TypicalFace was created to help people be more aware to their use of stereotypes. <br> 
Stereotypes are a natural occuring 
</p>
</div>
</body>
</html>
