<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='profile.css') }}">
<title>RANDOM profile</title>
</head>
<body>
<h1 id = "mainh"> Time To Vote </h1>
<img src="http://www.newschool.edu/uploadedImages/Parsons/Profiles/jamer_hunt_profile.jpg?n=4468" alt="person">
<br>
<form action="POST">
<p> {{ question.text }} </p> <br>

<input type="radio" name="answer" value="a">{{question.option_a}}<br>
<input type="radio" name="answer" value="b">{{question.option_b}}<br>
<input type="radio" name="answer" value="c">{{question.option_c}}<br>
<input type="radio" name="answer" value="d">{{question.option_d}}<br>

<input type="submit" value="Check">


</form>
</body>
